{{ define "banner-h1" }}In the News{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/home.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/home-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}


{{ block "content" . }}
{{ $dot := . }}
<div class="my-5">
  <ul class="list-group">
    {{ range $_ := json "gallery/news.json" }}
    <li class="list-group-item">
      <h2>{{ .title }}</h2>
      <h4>{{ .publisher }} ({{ .date }})</h4>
      <p><a href="{{ index .href 1 }}">{{ index .href 1 }}</a></p>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
