{{ define "banner-h2" }}Donations{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/home.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/home-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <p>Thank you for donating to the work and mission of Mei/Co. Dance. You can give through Venmo <a href="https://venmo.com/meico-dance">here</a> or through Fractured Atlas <a href="https://fundraising.fracturedatlas.org/mei-co-dance">here</a>. All contributions made through fractured Atlas are tax deductible via their 501(c)(3) covering.<p>
  <p>For checks, please write the check to <b>Fractured Atlas</b>, not Meggie Belisle nor Mei/Co. Dance. This is important to keep our 501(c)(3) status.</p>
</div>
{{ end }}
