{{ define "banner-h1" }}Contact Us{{ end }}
{{ define "banner-h2" }}We would love to hear from you.{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/contact.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/contact-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ define "content" }}
<div class="py-5 text-center h2">
  <!-- <p class="text-center">
    <h6><a href="https://forms.gle/NPch2gJX8L6BYg879" class="btn btn-info">Sign up for our newsletter</a></h6>
  </p> -->
  <p class="my-5">
    <a href="mailto:people@meico.dance" class="text-dark"><img class="icon-lg" src="{{ call .URL "/img/octicons-7.2.0/mail.svg" }}" alt="Mail"> people@meico.dance</a>
  </p>
  <p class="my-5">
    <a href="https://www.facebook.com/MeiCo-Dance-106450171088422" class="text-dark"><img src="{{ call .URL "/img/icons/facebook-dark.svg" }}" alt="Facebook" class="icon" /> Facebook</a>
  </p>
  <p class="my-5">
    <a href="https://www.instagram.com/meico.dance/" class="text-dark"><img src="{{ call .URL "/img/icons/instagram-dark.png" }}" alt="Instagram" class="icon" /> Instagram</a>
  </p>
</div>
{{ end }}
