{{ define "banner-h1" }}Auditions{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/about-auditions.png" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/about-auditions-mobile.png" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  {{/*
  About Yourself:

  Dance experience:

  Photos: Please link or attach

  Videos: Please link
  */}}
  <p>
    We are always interested in meeting people who share our vision! We are a project based company currently working in the Houston, TX area. If you are interested in being involved in a specific project, or want to become a member of the Mei/Co. team, please fill out our <a href="mailto:dance@meico.dance?subject=Audition%20Application&body=About%20Yourself%3A%0D%0A%0D%0ADance%20experience%3A%0D%0A%0D%0APhotos%3A%20Please%20link%20or%20attach%0D%0A%0D%0AVideos%3A%20Please%20link">application form</a>.
  </p>
</div>
{{ end }}
