{{ define "banner-h1" }}Auditions{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/about-auditions.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/about-auditions-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  {{/*
Name:

About Yourself:

Dance experience:

Photos: Please link or attach

Videos: Please link

Why do you want to dance with Mei/Co?
  */}}
  <p>
    We are always interested in meeting people who share our vision! We are a project based company currently working in the College Station, TX area. If you are interested in being involved in a specific project, or want to become a member of the Mei/Co. team, please fill out our <a href="mailto:dance@meico.dance?subject=Audition%20Application&body=Name%3A%0A%0AAbout%20Yourself%3A%0A%0ADance%20experience%3A%0A%0APhotos%3A%20Please%20link%20or%20attach%0A%0AVideos%3A%20Please%20link%0A%0AWhy%20do%20you%20want%20to%20dance%20with%20Mei%2FCo%3F">application form</a>.
  </p>
</div>
{{ end }}
