{{ define "banner-h1" }}Programs{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/about-programs.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/about-programs-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <h2>University Engagement Program</h2>
  <p>
    The University Engagement Program is a planning strategy to reach college students or recent graduates who may be interested in participating in Mei/Co. Dance summer projects. Our long term plan is to establish a consistent group of dancers at our home base for projects and bookings through the Fall and Spring while continually layering in new groups of dancers for summer projects. We hope that this will allow Mei/Co. to continue its work with those struggling with cancer year round and, at the same time, give college students exposure and experience. This influx of new dancers will also provide the opportunity for our Fall/Spring time dancers to rest during the summer season if they wish to do so. We also hope to engage in larger projects during the summer and may require larger casts for such undertakings. This preliminary trip to Belhaven University will take place in the spring of 2019. 
  </p>
  <h2>Pre-Professional Immersion Program</h2>
  <p>
    The Pre-Professional Immersion Program is a educational outreach targeting high school students who wish to pursue a professional career in dance. Our goal is to accept four to eight high school students to participate in our summer projects for one to three weeks. These students will have the opportunity to take class with professional and collegiate level dancers, understudy and participate in rehearsals, receive individual mentoring from members of Mei/Co. Dance, learn about the heart and mission of Mei/Co., and perform in the final shows. This initiative is a work in progress as we begin establishing our home in the Houston area. Our goal is to engage with two or three local studios to offer this opportunity to students. 
  </p>
</div>
{{ end }}
