{{ define "banner-h1" }}Upcoming Events{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/events-future.png" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/events-future-mobile.png" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<p class="pt-5">Come join us for an evening of dancing and strolling down the street with Mei/Co. Dance as we usher in the holiday season. This evening will be a unique dance performance led by a tour guide around various parts of Greenleaf Ln. Each dance tells the story of a gift; a gift of joy, courage, pain, grace, loss, life, and of strength. The performance will end with a sunset reception outside with s’mores, hot coco, and a bonfire to warm your toes!</p>
<p>We hope to honor those who have walked through cancer by this presentation through the gift of dance and warm your hearts for the holidays by dwelling on the gifts that come in many different forms. We hope to see you on Greenleaf Lane on November 15th for Story Lane; The Gift.</p>
{{ template "events-future" . }}
{{ end }}
