{{ define "banner-h1" }}Upcoming Events{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/events-future.png" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/events-future-mobile.png" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <ul class="list-group">
    <li class="list-group-item">
      <h2>Here To Listen College Station</h2>
      <p>Here to Listen College Station is a performance truly about and for the people of College Station. We will be sharing works based on the lives of 7 individuals who have fought cancer or are currently fighting, 6 of which are from the College Station community. The performance will be October 27th at 7pm at Rudder Theater on Texas A&amp;M Campus.</p>
      <p>This evening will begin with a short community engagement demonstration in which we will share a brief picture of what our process looks like and how we develop work based on people’s stories. The show will consist of works by Mei/Co. Dance, Open Sky Arts Collective, Ad Deum Dance Company, Talitha Dance Company, Company Abundance, and Mini Company from Suzanne’s School of Dance. We will wrap up the performance with a short talk back session and then a reception. Come ready for a night of bitter sweet truth and beauty.</p>
      <p>Listening is a huge part of the heartbeat of Mei/Co. Dance. We strive to be a community that takes the time to listen to people and let them know that we care. Each individual story is valuable, valid, and worth not only listening to, but pouring into with creative kindness, clarity, and compassion. That’s why we want it to be know that we are <i>Here To Listen</i> in College Station.</p>
      <p>
	Date: 10/27<br>
	Location: Rudder Theater, 401 Joe Routt Blvd, College Station<br>
	Time: 7pm<br>
	Talk back session and reception to follow<br>
	<i>Admission Free</i><br>
      </p>
    </li>
  </ul>
</div>
{{ end }}
