{{ define "banner-h1" }}Upcoming Events{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/events-future.png" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/events-future-mobile.png" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <ul class="list-group">
    <li class="list-group-item">
      <h2>Here To Listen College Station</h2>
      <p>October 2019</p>
      <p>More info coming soon</p>
    </li>
  </ul>
</div>
{{ end }}
