{{ define "banner-h1" }}Class on the Grass{{ end }}
{{ define "banner-h2" }}Community in the midst of isolation{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/class-on-the-grass.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/class-on-the-grass-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <div class="col col-lg-6 col-12 mb-3 align-self-center text-center mx-auto">
    <video controls src="https://www.dropbox.com/s/1t720hf9zfht1zd/?raw=1" poster="{{ call .URL "/img/class-on-the-grass-poster.jpg" }}" class="w-100 img-thumbnail">
      Sorry, your browser does not support embedded videos.
    </video>
  </div>
  
  <p>Class on the Grass is Mei/Co. Dance's community building response to Covid-19. In a time of quarantine and social distancing, we have been dancing...6 feet apart! These classes began in April of 2020 as informal gatherings of friends just dancing together in a front yard. It quickly became a weekly occurrence that we now call Class on the Grass. Yoga, ballet, modern, contemporary, jazz, we've danced it all on the grass! There's nothing better than moving with friends in fresh air and freedom!</p>
  <p>Come join us the first weekend of October for our first Class on the Grass with an informal showing! We invite any and all dance companies in the surrounding areas to come dance with us on the lawn and show us what you're working on this new season or a beloved piece from your rep. Pack a meal and stay for a time of community and conversation afterwards. We'll have snacks and drinks to share.</p>
  <p>In a time when our normal performance opportunities have been stripped away, we want to provide space to not only perform, but to be a community again. The dance community has always been a close knit one. Let's keep it that way!</p>
  <p><b>First weekend of October!</b> Specific date and time to be announced. Help us find the best time for you and your company by filling out our <a href="https://docs.google.com/forms/d/e/1FAIpQLSdNi4YUHxaaxZ4mHROwsddfRKYAlbRNl7Tr2uORqSRELQPBvQ/viewform">Class on the Grass poll</a> by September 1st.</p>
  <p>We're hoping to make this a monthly or bi-monthly event, so give us your thoughts and check back again for more information!</p>
  <p>We look forward to dancing with you!</p>
</div>

{{ $dot := . }}
<div class="container my-5">
  <div class="row">
    {{ range $_ := json "programs/class-on-the-grass/photos.json" }}
    {{ $url := call $dot.URL (sprintf "/img/programs/class-on-the-grass/%s" .) }}
    <div class="col col-lg-3 col-12 mb-3 align-self-center">
      <a href="{{ $url }}"><img src="{{ $url }}" alt="{{ . }}" class="w-100 img-thumbnail"></a>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
