nav {
    background: linear-gradient(to top right, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1));
}

.banner {
    margin-top: -126px;
    z-index: -1;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background: linear-gradient(to bottom left, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1));
}

.icon {
    width: 32px;
    height: 32px;
}

.icon-lg {
    width: 48px;
    height: 48px;
}

.dropdown-item.active {
    background-color: rgb(128, 128, 128);
}

p {
    font-family: Garamond;
}

/* :root { */
/*   --font-family-sans-serif: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
/* } */

/* body { */
/*   font-family: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
/* } */

/* .tooltip { */
/*   font-family: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
/* } */

/* .popover { */
/*   font-family: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
/* } */

/* :root { */
/*   --font-family-sans-serif: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
/* } */

/* body { */
/*   font-family: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
/* } */

/* .tooltip { */
/*   font-family: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
/* } */

/* .popover { */
/*   font-family: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
/* } */
