{{ define "banner-h1" }}University Engagement Program{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/about-programs.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/about-programs-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <p>The University Engagement Program is a means of reaching college students who may be interested in joining a Mei/Co. Dance project. We hope to engage in residencies with different Universities to share our work and our process of listening and creating with students. The art of listening is not a common practice these days and we want to bring that back to the forefront of education. We would love to come to your university for a masterclass or to set work.</p>
  <p>Contact us at <a href="mailto:people@meico.dance">people@meico.dance</a> to schedule.</p>
</div>
{{ end }}
