<!doctype html>
<html lang="en">
  <head>
    <title>Mei/Co Dance</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ block "css" . }}
    <link rel="stylesheet" type="text/css" href="{{ .RootURL }}/bootstrap-4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ .RootURL }}/css/main.css">
    {{ end }}
  </head>
  <body>
    {{ block "body" . }}
    {{ block "header" . }}
    <header class="w-100">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
	<a class="navbar-brand" href="{{ .RootURL }}"><img src="{{ .RootURL }}/img/logo.svg" height="80px" alt="logo" /> Mei/Co Dance</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-content">
	  <ul class="navbar-nav ml-auto mr-3">
	    {{ template "nav-item" (dict "Parent" . "URL" "/" "Path" "index.html" "Text" "Home") }}
	    {{ template "nav-item" (dict "Parent" . "URL" "/about/" "Path" "about/index.html" "Text" "About") }}
	    {{ template "nav-item" (dict "Parent" . "URL" "/contact/" "Path" "contact/index.html" "Text" "Contact") }}
	  </ul>
	</div>
      </nav>
      {{ block "banner" . }}{{ end }}
    </header>
    {{ end }}
    {{ block "main" . }}
    <main class="container">
      {{ block "content" . }}
      {{ end }}
    </main>
    {{ end }}
    {{ block "footer" . }}
    <footer class="footer py-3 text-muted d-print-none">
      <div class="container-fluid">
	<div class="row mx-4">
	  <div class="col col-auto mr-auto my-3">
            <span class="align-middle">&copy; 2018 Mei/Co Dance</span>
	  </div>
	  <div class="col col-auto my-3">
            <a href="https://www.youtube.com/channel/UCTr8w3QXcjSmLa6vO70kelA"><img src="{{ .RootURL }}/img/icons/youtube.png" alt="YouTube" width="32px" /></a>
            <a href="https://www.facebook.com/meggie.pinones"><img src="{{ .RootURL }}/img/icons/facebook.svg" alt="Facebook" height="32px" /></a>
            <a href="https://ipfs.io/ipns/meico.dance"><img src="{{ .RootURL }}/img/icons/ipfs.svg" alt="IPFS" height="32px" /></a>
	  </div>
	</div>
      </div>
    </footer>
    {{ end }}
    {{ block "script" . }}
    <script src="{{ .RootURL }}/js/jquery-3.3.1.slim.min.js"></script>
    <script src="{{ .RootURL }}/bootstrap-4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ .RootURL }}/js/main.js"></script>
    {{ end }}
    {{ end }}
  </body>
</html>
