<!doctype html>
<html lang="en">
  <head>
    <title>Mei/Co Dance</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ block "css" . }}
    <link rel="stylesheet" type="text/css" href="{{ .RootURL }}/bootstrap-4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ .RootURL }}/css/main.css">
    {{ end }}
  </head>
  <body>
    {{ block "body" . }}
    {{ block "header" . }}
    <header class="w-100">
      <nav class="navbar navbar-expand-lg navbar-light">
	<a class="navbar-brand" href="{{ .RootURL }}"><img src="{{ .RootURL }}/img/logo.svg" height="80px" alt="logo" /> Mei/Co Dance</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-content">
	  <ul class="navbar-nav ml-auto mr-3">
	    {{ template "nav-item" (dict "Parent" . "URL" "/" "Path" "index.html" "Text" "Home") }}
	    {{ template "nav-item" (dict "Parent" . "URL" "/about/" "Path" "about/index.html" "Text" "About") }}
	    {{ template "nav-item" (dict "Parent" . "URL" "/contact/" "Path" "contact/index.html" "Text" "Contact") }}
	  </ul>
	</div>
      </nav>
      <div class="container text-white header-content-lg">
	{{ block "header-content" . }}
	{{ end }}
      </div>
    </header>
    <img src="{{ .RootURL }}/img/hero.jpg" alt="hero.jpg" class="w-100" />
    {{ end }}
    {{ block "main" . }}
    <main class="container">
      <div class="d-lg-none">
	{{ block "header-content" . }}{{/* For smaller than large media */}}
	{{ end }}
      </div>
      {{ block "content" . }}
      {{ template "content-h1" "Content" }}
      {{ end }}
    </main>
    {{ end }}
    {{ block "script" . }}
    <script src="{{ .RootURL }}/js/jquery-3.3.1.slim.min.js"></script>
    <script src="{{ .RootURL }}/bootstrap-4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ .RootURL }}/js/main.js"></script>
    {{ end }}
    {{ end }}
  </body>
</html>
