<!doctype html>
<html lang="en">
  <head>
    <title>Mei/Co Dance</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ block "css" . }}
    <link rel="stylesheet" type="text/css" href="{{ .RootURL }}/bootstrap-4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ .RootURL }}/css/styles.css">
    {{ end }}
  </head>
  <body>
    {{ block "body" . }}
    {{ block "header" . }}
    <header class="position-absolute">
      <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light">
	<a class="navbar-brand" href="{{ .RootURL }}"><img src="{{ .RootURL }}/img/logo.svg" height="80px" alt="logo" /></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-content">
	  <ul class="navbar-nav mr-auto">
	    {{ template "nav-item" (dict "Parent" . "URL" "/about/" "Path" "about/index.html" "Text" "About") }}
	    {{ template "nav-item" (dict "Parent" . "URL" "/contact/" "Path" "contact/index.html" "Text" "Contact") }}
	  </ul>
	</div>
      </nav>
    </header>
    <img src="{{ .RootURL }}/img/hero.jpg" alt="hero.jpg" class="w-100" />
    {{ end }}
    next
    {{ end }}
  </body>
</html>
