{{ define "events-future" }}
<div class="my-5">
  <ul class="list-group">
    <li class="list-group-item">
      <h2>Story Lane</h2>
      <p>A Christmas stroll down Greenleaf Ln</p>
      <p>November 2020</p>
      <p>More info coming soon!</p>
      <p>For more information see the <a href="{{ call .URL "/programs/story-lane/" }}">Story Lane Program</a> and email <a href="mailto:people@meico.dance">people@meico.dance</a></p>
    </li>
    <li class="list-group-item">
      <h2>Class on the Grass</h2>
      <p>First weekend of October!</p>
      <p>More info coming soon!</p>
    </li>
    <li class="list-group-item">
      <h2>Here to Listen College Station</h2>
      <p>October 2021</p>
      <p>More info coming soon!</p>
    </li>
  </ul>
</div>
{{ end }}
