{{ define "events-future" }}
<div class="my-5">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="text-center">
	<h2>Night of Worship</h2>
	<h4>7pm Friday February 4th, 2022</h4>
	<p>
	  Hosted by Suzanne's School of Dance<br>
	  Admission is Free! Come join us on the hill at <a href="https://goo.gl/maps/d8YXsQsQhXtu27UA7">Wolf Pen Creek Amphitheater</a>
	</p>
	<p class="h5">
	  <a href="https://goo.gl/maps/d8YXsQsQhXtu27UA7">1015 Colgate Dr<br>
	  College Station, TX 77840</a>
	</p>
      </div>
      <p>
      </p>
      <p class="container">
	<div class="row">
          <div class="col-lg-6 offset-lg-3 col-12">
            <img src="{{ call .URL "/sha1/7e7616856b23a81807fccd3bd3541711af521929.png" }}" alt="poster"
		 class="w-100 img-thumbnail">
          </div>
	</div>
      </p>
    </li>
  </ul>
</div>
{{ end }}
