{{ define "events-future" }}
<div class="my-5">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="text-center">
        <h2>Summer Intensive 2022</h2>
        <p class="font-weight-bold">Come and join us for our first Summer Dance Intensive! <a href="">Click here for more information!</a></p>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
              <img src="{{ call .URL "/sha1/d36f9b43603995bec1b0ce4933a943ff78dfce39.png" }}" alt="poster"
                class="w-100 img-thumbnail">
            </div>
          </div>
        </div>
    </li>
  </ul>
</div>
{{ end }}