{{ define "banner-h1" }}Auditions{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/about-auditions.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/about-auditions-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <div class="col-lg-6 offset-lg-3 col-12">
    <img src="{{ call .URL "/sha1/57a588155d2f463a19ab3b5f4c3a82c9e4c5981c.png" }}" alt="flyer" class="w-100 img-thumbnail">
  </div>
  <h2>Audition Tour Spring 2022</h2>
  <p>We are excited to do our first official audition tour throughout this Spring. Check back for more information and keep an eye on our social media for updates.</p>
  <h3>February 4th:  Texas A&amp;M University</h3>
  <div class="col-lg-6 offset-lg-3 col-12">
    <img src="{{ call .URL "/sha1/57a588155d2f463a19ab3b5f4c3a82c9e4c5981c.png" }}" alt="flyer" class="w-100 img-thumbnail">
  </div>
  <p>We will be holding two separate auditions on this day at Texas A&amp;M University in College Station.</p>
  <p>Check in: 10:30am</p>
  <p>Audition #1: 10:40am-12:00pm (Contemporary Ballet)</p>
  <p>Audition #2: 12:20pm-1:40pm (Contemporary)</p>
  <p class="font-italic">Anyone auditioning is encouraged to attend both audition slots. However, one is sufficient. Please specify which audition you will be attending on the application form below by 1/31.</p>
  <h3>February 18th: Belhaven University</h3>
  <div class="col-lg-6 offset-lg-3 col-12">
    <img src="{{ call .URL "/sha1/895ce91376afd93d1e95edb98c5f95c21b81bfef.png" }}" alt="flyer" class="w-100 img-thumbnail">
  </div>  
  <p>Check in: 12:45pm</p>
  <p>Audition: 1:00pm-2:30pm</p>
  <p>
    We are always interested in meeting people who share our vision! We are a project based company currently working in the College Station, TX area. If you are interested in being involved in a specific project, or want to become a member of the Mei/Co. team, please fill out our <a href="https://forms.gle/ZWPegJD2Q9ALbZwEA">application form</a>.
  </p>
  <p>
    Please also email a headshot, resume, and if possible, a dance reel to <a href="people@meico.dance">people@meico.dance</a>
  </p>
  <p>
    We look forward to dancing with you soon!
  </p>
</div>
{{ end }}
