{{ define "banner-img" }}{{ call .URL "/img/banners/about-auditions.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/about-auditions-mobile.jpg" }}{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <h2 class="text-center">Video Auditions</h2>
  <p>
    We are always interested in connecting with dancers who are interested in our work. For more info please email <a href="mailto:people@meico.dance">people@meico.dance</a> or check our social media for current audition information.
  </p>
  <!-- <p>We look forward to dancing with you soon!</p> -->
</div>
{{ end }}
