{{ define "banner-h1" }}Auditions{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/about-auditions.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/about-auditions-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <h2 class="text-center">Video Auditions</h2>
  <p>
    We are always accepting video auditions and love connecting with people who share our mission. If you are unable to attend our upcoming audition, please email us at <a href="mailto:people@meico.dance">people@meico.dance</a> and include a headshot, resume, and if possible, a dance reel. Additionally, please fill out our <a href="https://forms.gle/ZWPegJD2Q9ALbZwEA">application form</a>.
  </p>
  <p>We look forward to dancing with you soon!</p>
</div>
{{ end }}
