{{ define "banner-h2" }}We come to listen. We promise to honor. We hope to heal. And we offer ourselves simply as storytellers.{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/home.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/home-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <video controls poster="{{ call .URL "/img/promo-poster.png" }}" class="w-100 mb-3 img-thumbnail">
    <source src="https://www.dropbox.com/s/0umn0ejldyop2f1/?raw=1" type="video/mp4">
    Sorry, your browser does not support embedded videos.
  </video>
  <a href="{{ call .URL "/about/mission/" }}"><h2>Our Mission</h2></a>
  <p>Mei/Co. Dance exists to listen. We value people and their stories. We recognize that life is a mixture of joy and pain. Our hope is to be a platform for individuals to share their journey- to paint pictures of life, of joy, of pain, of the beautiful, and of the ugly. We desire to honor those who are enduring or have endured cancer by telling their stories through dance. <a href="{{ call .URL "/about/mission/" }}">... Read more</a></p>
  <a href="{{ call .URL "/events/future/" }}"><h2>Upcoming Events</h2></a>
  <p class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12">
	<a href="{{ call .URL "/events/future/" }}"><img src="{{ call .URL "/img/sha1/e0da1ce9fe147de0213dd3c2332b1727b38ab256.jpg" }}" alt="poster" class="w-100 img-thumbnail"></a><br>
      </div>
    </div>
  </p>
</div>
{{ end }}
