{{ define "banner-h2" }}We come to listen. We promise to honor. We hope to heal. And we offer ourselves simply as storytellers.{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/home.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/home-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <div class="col-lg-6 offset-lg-3 col-12 text-center">
    <video controls poster="{{ call .URL "/sha1/2ef5558c507a2cbef78374c86464b017ff1c2604.png" }}" class="w-100 mb-3 img-thumbnail">
      <source src="https://www.dropbox.com/s/0umn0ejldyop2f1?raw=1" type="video/mp4">
        Sorry, your browser does not support embedded videos.
    </video>
  </div>
  <h2 class="text-center">Upcoming Events</h2>
  <!-- <div class="col-lg-6 offset-lg-3 col-12">
    <a href="{{ call .URL "/auditions" }}"><img src="{{ call .URL "/sha1/ce16e9c5be6e9abbaf14bbfc033cbf45eb99593d.png" }}" alt="flyer" class="w-100 img-thumbnail"></a>
  </div> -->
  <h2>Summer Intensive 2022</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12">
        <img src="{{ call .URL "/sha1/d8512ff18a03cdef2cc4a5a4b8e78534afc64fa1.png" }}" alt="poster"
          class="w-100 img-thumbnail">
      </div>
    </div>
  </div>
  <p>Come and join us for our first Summer Dance Intensive! <a href="{{ call .URL "/events/future/" }}" class="font-weight-bold">Click here for more information!</a></p>
  <a href="{{ call .URL "/about/mission/" }}"><h2 class="text-center text-dark">Our Mission</h2></a>
  <p>Mei/Co. Dance exists to listen. We value people and their stories. We recognize that life is a mixture of joy and pain. Our hope is to be a platform for individuals to share their journey- to paint pictures of life, of joy, of pain, of the beautiful, and of the ugly. We desire to honor those who are enduring or have endured cancer by telling their stories through dance. <a href="{{ call .URL "/about/mission/" }}">... Read more</a></p>
  <h2 class="text-center">Highlights of 2021</h2>
  <p class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12 text-center">
	<video controls poster="{{ call .URL "/sha1/b95d9ec8fc0967f27447d88e60d6060d0fb76217.png" }}" class="w-100 mb-3 img-thumbnail">
          <source src="https://www.dropbox.com/s/7jxnn2x5emh1u4d/?raw=1" type="video/mp4">
            Sorry, your browser does not support embedded videos.
	</video>
	<h3>Story Lane: The Tree</h3>
	<h4>November 2021</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12 text-center">
	<video controls poster="{{ call .URL "/sha1/569f3a66fbd9a3d1e8c8a34724d6f17a792ccef0.png" }}" class="w-100 mb-3 img-thumbnail">
          <source src="https://www.dropbox.com/s/i9crerluragt2po/?raw=1" type="video/mp4">
            Sorry, your browser does not support embedded videos.
	</video>
	<h3>Sunshine Personified</h3>
	<h4>Summer 2021</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12 text-center">
	<video controls poster="{{ call .URL "/sha1/1ff5447258aa5b2b9bc093344ece49af9d1653d9.png" }}" class="w-100 mb-3 img-thumbnail">
          <source src="https://www.dropbox.com/s/nfkix20l60iq9xq/?raw=1" type="video/mp4">
            Sorry, your browser does not support embedded videos.
	</video>
	<h3>Becca: A Story of Surrender</h3>
	<h4>April 2021</h4>
      </div>
    </div>
  </p>
</div>
{{ end }}
