{{ define "banner-h2" }}Little Foot Sandals{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/home.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/home-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <p>Little Foot Sandals are minimalist sandals made from paracord laces and
  sole rubber. The lace color is yours to choose, and the soles are cut to your
  footprint exactly. They are fully adjustable, durable, waterproof, and are
  well suited for hiking and even long distance running. 100% of the profit goes
  to Mei/Co. and its dancers.</p>
  <p>Price is $40 per pair.</p>
  <p>To order a pair of Little Foot Sandals, trace your footprint as shown in
  the video below and send it to us in the mail. Please include the color you
  would like for the laces. Brown and white are the two most popular, but all
  the options can be found <a
  href="https://smile.amazon.com/dp/B01M1NL7FC/ref=twister_dp_update?_encoding=UTF8&th=1&psc=1">here</a>.</a></p>
  <p>Matthew Belisle<br>341 Greenleaf Ln<br>Bryan, TX 77808</p>
  <p class="text-center">
    <video controls src="https://www.dropbox.com/s/1gtf0wvn8e4odw1/little-foot-sandals-1.mp4?raw=1" poster="{{ call .URL "/contribute/sandals/e4eb77ddb1c1fb6973445d598f10e0a0982e17bf.png" }}" class="w-50 mb-3 img-thumbnail">
      Sorry, your browser does not support embedded videos.
    </video>  
  </p>
  <p>Once we recieve your footprint, it will take a week or two to make your
  sandals and then you can come to our place and we'll do the final adjustments
  to fit your foot exactly. You can pay in cash at pickup time.</p>
</div>
{{ end }}
